.mainNav{
  padding: 20px 0px;
  background-color: #f3f0ed;
}
.navImage {
  height: 40px;
  margin-left: 10px;
}

.navLinks{
position: absolute;
left: 50%;
transform: translate(-50%);
}

li {
  margin: 0px 40px;
}